/* perspective = distance between eyes & the screen */
/* must always define perspective in a 3d environment */
body {
    /* this property is added to the container of the element being modified with the 3D animation */
    perspective: 500px; 
}

/* ROTATE IN 3D */

img {
  display: block;
  margin: auto;
  margin-top: 200px;
  transition: transform 1s;
  width: 300px;
}

img:hover {
  /* can rotate on 3 axes: X, Y, Z */
  transform: rotateY(60deg);
}

/* TRANSLATE IN 3D */

.square {
    background-color: cadetblue;
    color: whitesmoke;
    display: block;
    height: 200px;
    line-height: 200px;
    margin-top: 10px;
    text-align: center;
    width: 200px;
}

.translate {
    margin: auto;
    transition: transform 2s;
}

.translate:hover {
    /* 3D uses Z axis */
    /* if this number is greater than the perspective, it will disappear */
    transform: translateZ(-500px);
}